.ds_store
.Rproj.user
*.Rproj
*.dcf
project_3/scripts/scrap.R
project_3/data/cb_2018_us_zcta510_500k.zip
project_3/scripts/draft.R
project_3/scripts/draft.R
project_3/scripts/draft.R
project_3/scripts/draft.R
project_3/scripts/draft.R
project_3/scripts/draft2.R
project_3/notes.txt
